extends ../layout

block title
  title= user.username

block content
  header
    h1= user.firstname + " "  + user.lastname + "'s Profile"
  main.user
    div.userInfo
      img(src='http://placehold.it/200x200')
      div.info
        p= "Location: " + user.city + ', ' + user.state
        p= "Specialty: " + user.specialty
        ul
          li Interests
          if user.interests
            each interest in user.interests
              li= interest
    div.favoriteSequences.box
      h2 Favorite Sequences
      if user.favorites 
        each sequence in user.favorites
          div.saved
            h4= sequence.creator
        div.buttons
          button
            a(href='/sequences/all') All Sequences
    div.personalSequences.box
      h2 My Sequences
      each sequence in sequences
        div.saved
          h4= sequence.sequence_name
          a(href='/users/' + user.username + '/builder/' + sequence.id) Edit
      div.buttons
        button
          a(href='/users/' + user.username + '/builder/new') New Sequence
    
