extends ../layout

block title
  title= user.username

block content
  header

    h1 #{capitalize(user.first_name)} #{capitalize(user.last_name)}'s Profile
    nav
      a(href='/sequences') Public Sequences 
      a(href='/auth/logout') Logout

  main.user
    div.userInfo
      if !user.image
        form(action="/users/photos/"+user.id method="POST" enctype="multipart/form-data")
          input(type="file", name="displayImage")
          input(type="submit" value="change picture")
      else 
        img(src=user.image)
      div.info
        div.studio
          h4 
            em Studio:
          p= user.studio
        div.speciality
          h4 
            em Speciality:
          p= user.speciality
        div.bio
          h4 
            em Bio:
          p= user.bio
        a.info_footer Edit
    div.favoriteSequences.box
      h3 Favorite Sequences
      if user.favorites 
        each sequence in user.favorites
          div.saved
            h4= sequence.creator
        button
          a(href='/sequences/all') All Sequences
    div.personalSequences.box
      h3 My Sequences
      each sequence in sequences
        div.saved
          div.header
            h4 #{sequence.name}
          div.body
            form(method="POST" action="/users/#{user.id}/sequences/#{sequence.id}/delete" id="form_delete")
              a(href='javascript:{}' onclick='document.getElementById("form_delete").submit();') 
                button.small Delete
            a(href='/users/#{user.id}/sequences/#{sequence.id}')
              button.small  Edit
      a(href='/users/#{user.id}/sequences/new'): button New Sequence
    
