extends ../layout

block title
  title= user.username

block content
  header
    h1= user.first_name + " "  + user.last_name + "'s Profile"
  main.user
    div.userInfo
      img(src='http://placehold.it/200x200')
      br
    div.userInfo
      form(action="/users/photos/"+user.id method="POST" enctype="multipart/form-data")
        input(type="file", name="displayImage")
        br
        br
        input(type="submit" value="change picture")
      div.info
        p= "Location: " + user.city + ', ' + user.state
        ul
          li Specialities:
          if user.speciality
            li= user.speciality
        p= "Bio: " + user.bio
    div.favoriteSequences.box
      h4 Favorite Sequences
      if user.favorites 
        each sequence in user.favorites
          div.saved
            h4= sequence.creator
        button
          a(href='/sequences/all') All Sequences
    div.personalSequences.box
      h4 My Sequences
      each sequence in sequences
        div.saved
          h4= sequence.sequence_name
          a(href='/users/' + user.username + '/builder/' + sequence.id) Edit
      button
        a(href='/users/' + user.username + '/builder/new') New Sequence
    
