extends ../layout

block title
  title= pose.pose_name
  
block content
  header
    h1= pose.pose_name
  main.pose-detail
    img(src='http://placehold.it/300x300')
    h2= pose.sanskrit_name
    div.transalt
      h3 Translations and Alt Names
      p= pose.translation
    div.descriptions 
      p= "Difficulty " + pose.difficulty
      p= pose.description
      p= pose.benefits
block scripts
  script.
    var name = !{JSON.stringify(pose.pose_name)}
    $('img').attr('src', '/img/photos/' + returnImage(name));
    function returnImage(name){
      var returnable;
      posefiles.forEach(function(item){
        //- console.log(item);
        if (item.pose_name == name){
          returnable = item.file_reference;
        }
      })
      return returnable;
    }  
    
