extends ../layout

block title
  title= pose.pose_name
  
block content
  header
    h1= pose.pose_name
  main.pose-detail
    img(src='http://placehold.it/300x300')
    h2= pose.sanskrit_name
    div.transalt
      h3 Translations and Alt Names
      p= pose.translation
    div.descriptions 
      p= "Difficulty " + pose.difficulty
      p= pose.description
      p= pose.benefits
    
